In [1]:
import os
import pandas as pd

In [4]:
df=pd.read_csv(r'D:\Data\Redflag_reports\test.csv')

In [5]:
df

,Business Rule no.,Reports name,Status,Reports date,Current Date
0,CVBR1,AppFollow ios top funnel,Updated,2021-05-18,2021-05-19
1,CVBR2,ios subscription,Updated,2021-05-17,2021-05-19
2,CVBR2,ios subscription,Not Updated,2021-05-16,2021-05-19

In [7]:
df.drop(index=2)

,Business Rule no.,Reports name,Status,Reports date,Current Date
0,CVBR1,AppFollow ios top funnel,Updated,2021-05-18,2021-05-19
1,CVBR2,ios subscription,Updated,2021-05-17,2021-05-19

In [8]:
df.drop(index=df[df['Business Rule no.']=="CVBR2"].index)

,Business Rule no.,Reports name,Status,Reports date,Current Date
0,CVBR1,AppFollow ios top funnel,Updated,2021-05-18,2021-05-19