In [3]:
import os
import glob

In [4]:
import pandas as pd

In [5]:
from pandas import DataFrame

In [6]:
from datetime import datetime

In [7]:
import re

In [14]:
rx = '(Subscription_Event_85875515_.*V1_2.txt$)' 

for (root,dirs,files) in os.walk(r'C:\Users\Lenovo\Skidos_Scripts\othermonthlyreports', topdown=True):
    for file in files:
        res = re.match(rx, file)
        
        if res:
            if res.group(1):
                substring=file[-17:-9]
                dated_substring=datetime.strptime(substring, '%Y%m%d')
                dated_substring=dated_substring.date()
                #print(dated_substring)
                #print(file)
            else:
                continue
        else:
            continue
        
        #substring=file[-17:-9]
        #dated_substring=datetime.strptime(substring, '%Y%m%d')
        #dated_substring=dated_substring.date()
        current_date=datetime.today()
        current_date=current_date.date()
        #print(dated_substring)
        
        difference_in_dates=current_date - dated_substring
        difference_in_days=difference_in_dates.days
        
        df=pd.read_csv(r'D:\Data\Redflag_reports\test21.csv')
       
        if "CVBR2" in df["Business Rule no."].unique():
            pass
                            
        else:
             df=df.append({'Business Rule no.':"CVBR2", 'Reports name': "ios subscription", 'Status':"Updated",'Reports date':dated_substring,'Current Date':current_date}, ignore_index=True)
                       
        if (difference_in_days<=2):
            df.loc[df['Business Rule no.'] == "CVBR2", 'Status'] = "Updated"
            df.loc[df['Business Rule no.'] == "CVBR2", 'Reports date'] = dated_substring 
            df.loc[df['Business Rule no.'] == "CVBR2", 'Current Date'] = current_date
        else:
            df.loc[df['Business Rule no.'] == "CVBR2", 'Status'] = "Not Updated"
            df.loc[df['Business Rule no.'] == "CVBR2", 'Reports date'] = dated_substring 
            df.loc[df['Business Rule no.'] == "CVBR2", 'Current Date'] = current_date
            """df=pd.read_csv(r'D:\Data\Redflag_reports\test21.csv')            
            df.loc[df['Business Rule no.'] == "CVBR2", 'Status'] = "Not Updated"
            #df.loc[df['Business Rule no.'] == "CVBR2", 'Reports date'] = dated_substring"""
        
    #df.loc[df['Business Rule no.'] == "CVBR2", 'Reports date'] = dated_substring 
    #df.loc[df['Business Rule no.'] == "CVBR2", 'Current Date'] = current_date
    df.to_csv(r'D:\Data\Redflag_reports\test21.csv', index=False)

mod_df

In [18]:
df

,Business Rule no.,Reports name,Status,Reports date,Current Date
0,CVBR1,AppFollow ios top funnel,Not Updated,2021-05-19,2021-05-21
1,CVBR2,ios subscription,Updated,2021-05-19,2021-05-21

In [66]:
df

,Business Rule no.,Reports name,Status,Reports date,Current Date
0,CVBR1,AppFollow ios top funnel,Not Updated,18-05-2021,20-05-2021
1,CVBR2,ios subscription,Updated,2021-05-18,2021-05-20

In [64]:
df

,Business Rule no.,Reports name,Status,Reports date,Current Date
0,CVBR1,AppFollow ios top funnel,Not Updated,18-05-2021,20-05-2021
1,CVBR2,ios subscription,Not Updated,2021-05-17,2021-05-20
2,CVBR2,ios subscription,Not Updated,2021-05-17,2021-05-20

In [47]:
df

,Unnamed: 0,Business Rule no.,Reports name,Status,Reports date,Current Date
0,0,CVBR1,AppFollow ios top funnel,Not Updated,18-05-2021,20-05-2021
1,1,CVBR2,ios Subscription,Not Updated,2021-05-17,20-05-2021

In [45]:
df

,Business Rule no.,Reports name,Status,Reports date,Current Date
0,CVBR1,AppFollow ios top funnel,Not Updated,18-05-2021,20-05-2021
1,CVBR2,ios Subscription,Not Updated,18-05-2021,20-05-2021

In [43]:
df

,Business Rule no.,Reports name,Status,Reports date,Current Date
0,CVBR1,AppFollow ios top funnel,Not Updated,18-05-2021,20-05-2021
1,CVBR2,ios Subscription,Not Updated,18-05-2021,20-05-2021

In [41]:
df

,Business Rule no.,Reports name,Status,Reports date,Current Date
0,CVBR1,AppFollow ios top funnel,Not Updated,18-05-2021,20-05-2021
1,CVBR2,ios Subscription,Updated,18-05-2021,20-05-2021

In [31]:
print(mod_df)

Updated

In [28]:
df

,Unnamed: 0,Business Rule no.,Reports name,Status,Reports date,Current Date
0,0,CVBR1,AppFollow ios top funnel,Not Updated,2021-05-18,2021-05-20

In [26]:
mod_df

,Business Rule no.,Reports name,Status,Reports date,Current Date
0,CVBR1,AppFollow ios top funnel,Not Updated,2021-05-18,2021-05-20
1,CVBR2,ios subscription,Updated,2021-05-18,2021-05-20

In [25]:
df

,Business Rule no.,Reports name,Status,Reports date,Current Date
0,CVBR1,AppFollow ios top funnel,Not Updated,2021-05-18,2021-05-20

In [15]:
mod_df

,Unnamed: 0,Business Rule no.,Reports name,Status,Reports date,Current Date
0,0.0,CVBR1,AppFollow ios top funnel,Not Updated,2021-05-18,2021-05-20
1,1.0,CVBR2,ios subscription,Not Updated,2021-05-17,2021-05-20
2,NaN,CVBR2,ios subscription,Updated,2021-05-18,2021-05-20

In [26]:
mod_df

,Business Rule no.,Reports name,Status,Reports date,Current Date
0,CVBR1,AppFollow ios top funnel,Updated,2021-05-18,2021-05-19
1,CVBR2,ios subscription,Updated,2021-05-17,2021-05-19
2,CVBR2,ios subscription,Not Updated,2021-05-16,2021-05-19
3,CVBR2,ios subscription,Not Updated,[],[]

In [17]:
mod_df

,Business Rule no.,Reports name,Status,Reports date,Current Date
0,CVBR1,AppFollow ios top funnel,Updated,2021-05-18,2021-05-19
1,CVBR2,ios subscription,Updated,2021-05-17,2021-05-19
2,CVBR2,ios subscription,Not Updated,2021-05-16,2021-05-19
3,[CVBR2],[ios subscription],[Not Updated],[],[]