In [76]:
import os
import pandas as pd
from pandas import DataFrame
from datetime import datetime
import glob

with os.scandir('D:\othermonthlyreports') as files:
    for file in files:
        substring=file.name[-17:]
        substring1=substring[:8]
        dated_substring=datetime.strptime(substring1, '%Y%m%d')
        dated_substring=dated_substring.date()
        #print(substring1)
        print(dated_substring)
        
        current_date=datetime.today()
        current_date=current_date.date()
        #print(current_date)
        
        difference_in_dates=current_date - dated_substring
        difference_in_days=difference_in_dates.days
        
        critical_view=[]
        critical_view_ID=[]
        reports_name=[]
        fetch_file_until_date=[]
        curr_date_list=[]
        
        if (difference_in_days<=2):
            critical_view_ID.append("CVBR2")
            reports_name.append("ios subscription")
            critical_view.append("Updated")
            fetch_file_until_date.append(dated_substring)
            curr_date_list.append(current_date)
            #timeliness_reports={'Business Rule no.':critical_view_ID,'Reports name':reports_name,'Status':critical_view, 'Reports date':fetch_file_until_date, 'Current Date':curr_date_list}
            #df=DataFrame(timeliness_reports, columns=['Business Rule no.', 'Reports name','Status', 'Reports date', 'Current Date'])
            df=pd.read_csv('D:\Data\Redflag_reports\Business_Reports1.csv')
            mod_df = df.append({'Business Rule no.':critical_view_ID[0],'Reports name':reports_name[0],'Status':critical_view[0], 'Reports date':fetch_file_until_date[0], 'Current Date':curr_date_list[0]} , ignore_index=True)
        else:
            critical_view_ID.append("CVBR2")
            reports_name.append("ios subscription")
            critical_view.append("Not Updated")
            fetch_file_until_date.append(dated_substring)
            curr_date_list.append(current_date)
            #timeliness_reports={'Business Rule no.':critical_view_ID,'Reports name':reports_name,'Status':critical_view, 'Reports date':fetch_file_until_date, 'Current Date':curr_date_list}
            #df=DataFrame(timeliness_reports, columns=['Business Rule no.','Reports name', 'Status', 'Reports date', 'Current Date'])
            df=pd.read_csv('D:\Data\Redflag_reports\Business_Reports1.csv')
            mod_df = df.append({'Business Rule no.':critical_view_ID,'Reports name':reports_name,'Status':critical_view, 'Reports date':fetch_file_until_date, 'Current Date':curr_date_list} , ignore_index=True)
            
mod_df.to_csv('D:\Data\Redflag_reports\Business_Reports1.csv', index=False)

SyntaxError: invalid syntax (<ipython-input-76-d2af474dbf23>, line 38)

In [66]:
mod_df

,Business Rule no.,Reports name,Status,Reports date,Current Date
0,CVBR1,AppFollow ios top funnel,Updated,2021-05-18,2021-05-19
2,CVBR2,ios subscription,Not Updated,2021-05-16,2021-05-19

In [43]:
row_df

['Update']

In [40]:
mod_df

,Business Rule no.,Reports name,Status,Reports date,Current Date
0,CVBR1,AppFollow ios top funnel,Updated,2021-05-18,2021-05-19
1,CVBR2,ios subscription,Updated,2021-05-17,2021-05-19
2,CVBR2,ios subscription,Not Updated,2021-05-16,2021-05-19

In [18]:
mod_df

,Unnamed: 0,Unnamed: 0.1,Business Rule no.,Reports name,Status,Reports date,Current Date
0,0.0,0.0,CVBR1,AppFollow ios top funnel,Updated,2021-05-18,2021-05-19
1,1.0,1.0,CVBR2,ios subscription,Updated,2021-05-17,2021-05-19
2,2.0,NaN,CVBR2,ios subscription,Not Updated,2021-05-16,2021-05-19
3,NaN,NaN,CVBR2,ios subscription,Not Updated,2021-05-16,2021-05-19

mod_df

In [3]:
mod_df

,Business Rule no.,Reports name,Status,Reports date,Current Date
0,CVBR1,AppFollow ios top funnel,Not Updated,2021-05-16,2021-05-18
1,['CVBR2'],['ios subscription'],['Not Updated'],"[datetime.date(2021, 5, 16)]","[datetime.date(2021, 5, 19)]"
2,[CVBR2],[ios subscription],[Not Updated],[2021-05-16],[2021-05-19]